@{
    ViewBag.Title = "Angular";
}

@section scripts {
    @Scripts.Render("~/bundles/angular")
    <script type="text/javascript">
        var myApp = angular.module('myApp', ['ui.router']);
        myApp.config(function ($stateProvider, $urlRouterProvider) {
            //
            // For any unmatched url, redirect to /state1
            $urlRouterProvider.otherwise("/");
            //
            // Now set up the states
            $stateProvider
                .state('state1', {
                    url: "/",
                    template: "<p>Kjenner dere til triAngularing? Ikke Grinchen heller. Derfor har han bare brukt Angular.js for å prøve å skjule veien videre. Let, og du skal finne!</p>"
                })
            .state('admin', {
                url: "/admin",
                templateUrl: "/content/admin.tpl.html"
            })
            ;
        });
    </script>
}
<div data-ui-view></div>
