@{
    ViewBag.Title = "Juleverksted";
}

<script type="text/javascript">
    $(document).ready(function () {
        writeText(null);
        //writeText($("#myrow"));
    });

    function writeText(element) {
        element.prepend("<div class=\"col-md-4\"><h2>God Jul!</h2><p><a class=\"btn btn-default\" href=\"/home/reinsdyr\">Start eventyret &raquo;</a></p></div>");
    }
</script>
<br/>
<br/>

<div id="myrow" class="row">
    <div class="col-md-3" style="margin-right: 20px">
        <figure id="simenNisse" style="width: 200px; height: 200px">

        </figure>
    </div>
    <div class="col-md-6">
        <p>
            Ok, nå er vi inne i kjernen. Men noe ser ut til å ha kræsjet litt på veien, greier dere å fikse det?
        </p>
   </div>
</div>