@{
    ViewBag.Title = "Juleverksted";
}

<script type="text/javascript">
    $(document).ready(function () {
        writeText(null);
        //writeText($("#myrow"));
    });

    function writeText(element) {
        element.prepend("<div class=\"col-md-4\"><h2>God Jul!</h2><p>Hvis du vil begynne å hacke går til:</p><p><a class=\"btn btn-default\" href=\"/home/velkommen\">Learn more &raquo;</a></p></div>");
    }
</script>

<div class="jumbotron" style="background-color: red; color: white;">
    <h1>Julemysteriet</h1>
</div>

<div id="myrow" class="row">
    <div class="col-md-4">
        <h2>Julekonkuranse</h2>
        <p>
            Her kommer mange oppgave blablabla..
            Dere skal bruke frontendkunnskaper til å hacke dere gjennom nettsiden og finne det hemmelige stedet.
            Bla bla bla noe mer morsom text
        </p>
    </div>
    <div class="col-md-4">
        <h2>Vi har allerede startet!</h2>
        <p>Du må komme deg videre til neste side, hint (ta en titt i konsollen)</p>
    </div>
</div>