@{
    ViewBag.Title = "Juleverksted";
}

<script type="text/javascript">
    $(document).ready(function () {
        writeText(null);
        //writeText($("#myrow"));
    });

    function writeText(element) {
        element.prepend("<div class=\"col-md-4\"><h2>God Jul!</h2><p>Hvis du vil begynne å hacke gå til:</p><p><a class=\"btn btn-default\" href=\"/home/velkommen\">Start eventyret &raquo;</a></p></div>");
    }
</script>

<div class="jumbotron" style="background-color: #ebebeb;">
    <h1>Et frontend juleventyr</h1>
</div>

<div id="myrow" class="row">
    <div class="col-md-4">
        <figure id="jorgenNisse">

        </figure>
    </div>
    <div class="col-md-4">
        <h2>Vi har allerede startet!</h2>   
        <p>
            Frontend-nissen er ikke et null, men han har glemt å sjekke for dem! Siden Simen-nissen ikke er Typen til å ta på seg slike oppdrag, så må dere ta drittjobben for ham.
        </p>
        <p>Du må komme deg videre til neste side, hint (ta en titt i konsollen)</p>

    </div>
</div>