
@{
    ViewBag.Title = "Jada";
}

<style>
    .solution {
  margin-top: 100px;
  -webkit-transition: all 5s;
  position: relative;
}

.solution span {
  border: solid 1px green;
  padding: 10px;
  margin-top: 80px;
  -webkit-transition: all 2s;
  position: absolute;
  background-color: lightgreen;
  font-size: 30px;
}


.solution span:nth-child(1) {
  -webkit-transform: translate(880px, 0px) rotate(0deg);
}
.solution span:nth-child(2) {
  -webkit-transform: translate(960px, 0px) rotate(0deg);
}
.solution span:nth-child(3) {
  -webkit-transform: translate(80px, 0px) rotate(0deg);
}
.solution span:nth-child(4) {
  -webkit-transform: translate(160px, 0px) rotate(0deg);
}
.solution span:nth-child(5) {
  -webkit-transform: translate(480px, 0px) rotate(0deg);
}
.solution span:nth-child(6) {
  -webkit-transform: translate(320px, 0px) rotate(0deg);
}
.solution span:nth-child(7) {
  -webkit-transform: translate(400px, 0px) rotate(0deg);
}
.solution span:nth-child(8) {
  -webkit-transform: translate(240px, 0px) rotate(0deg);
}
.solution span:nth-child(9) {
  -webkit-transform: translate(560px, 0px) rotate(0deg);
}
.solution span:nth-child(10) {
  -webkit-transform: translate(640px, 0px) rotate(0deg);
}
.solution span:nth-child(11) {
  -webkit-transform: translate(720px, 0px) rotate(0deg);
}
.solution span:nth-child(12) {
  -webkit-transform: translate(800px, 0px) rotate(0deg);
}
.solution span:nth-child(13) {
  -webkit-transform: translate(0px, 0px) rotate(0deg);
}
.solution span:nth-child(14) {
  -webkit-transform: translate(1040px, 0px) rotate(0deg);
}
.solution span:nth-child(15) {
  -webkit-transform: translate(1120px, 0px) rotate(0deg);
}
div.solution span.q {
  background-color: yellow !important;
  border: solid 1px red;
  border-radius: 50%;
 
}
.solution .q.q1 {
  -webkit-transform: translate(0px, -100px) rotate(360deg);
}
.solution .q.q2 {
  -webkit-transform: translate(80px, -100px) rotate(360deg);
}
.solution .q.q3 {
  -webkit-transform: translate(160px, -100px)  rotate(360deg);
}
.solution .q.q4 {
  -webkit-transform: translate(220px, -100px)  rotate(180deg);
}
.solution .q.q5 {
  -webkit-transform: translate(300px, -100px)  rotate(90deg);
}
.solution .q.q6 {
  -webkit-transform: translate(430px, -100px)  rotate(60deg);
}
.solution .q.q7 {
  -webkit-transform: translate(450px, -100px)  rotate(160deg);
}
.solution .q.q8 {
  -webkit-transform: translate(450px, -100px)  rotate(360deg);
}
.solution .q.q9 {
  -webkit-transform: translate(500px, -100px)  rotate(360deg);
}
.solution .q.q10 {
  -webkit-transform: translate(550px, -100px)  rotate(360deg);
}
.solution .q.q11 {
  -webkit-transform: translate(630px, -100px)  rotate(360deg);
}
.solution .q.q12 {
  -webkit-transform: translate(700px, -90px)  rotate(360deg);
}
.solution .q.q13 {
  -webkit-transform: translate(780px, -110px)  rotate(360deg);
}
.solution .q.q14 {
  -webkit-transform: translate(900px, -100px)  rotate(360deg);
}
.solution .q.q15 {
  -webkit-transform: translate(300px, -100px)  rotate(360deg);
}



</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.q').click(function () {
            //$(this).removeClass('q');
        });
    });
</script>

<div class="row">
    <div class="col-md-4">
        <h2>Jada bra jobbet!</h2>
        <p>
            Reinsdyret til frontend-nissen har fått i seg for mange Sopra Steria-drops, og har Gulp.js’et opp noen mystiske brikker med bokstaver på. Hjelp Jan Tore-nissen med å sortere dem, så finner du ut hvor dere skal dra videre!
        </p>
    </div>
    <div class="col-md-4">
        <figure id="janNisse">

        </figure>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="solution">
            <span class="q q2">D</span>
            <span class="q q13">Y</span>
            <span class="q q12">H</span>
            <span class="q q8">O</span>
            <span class="q q6">R</span>
            <span class="q q5">E</span>
            <span class="q q7">/</span>
            <span class="q q1">M</span>
            <span class="q q3">E</span>
            <span class="q q9">I</span>
            <span class="q q10">N</span>
            <span class="q q11">S</span>
            <span class="q q14">/</span>
            <span class="q q4">R</span>
        </div>
    </div>
</div>
