<!-- Passord: julepils -->
<style>
	.myContainer {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 100%;
		justify-content: center;
	}
</style>
<div class="myContainer">
	<div id="notifications"></div>
	Hei prøv å logg inn.
	<div id="app"></div>
</div>
<script>
	var html = '<form action="">';
	html += '<h1>Login</h1>';
	html += '<label for="username">Brukernavn</label>';
	html += '<br>';
	html += '<input id="username" type="text" placeholder="Brukernavn">';
	html += '<br>';
	html += '<label for="password">Passord</label>';
	html += '<br>';
	html += '<input id="password" type="password" placeholder="Passord">';
	html += '<br>';
	html += '<input type="submit" value="Logg inn">';
	html += '</form>';
	document.getElementById("app").innerHTML = html;
</script>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script>
	$("form").on("submit", function (e) {
		e.preventDefault();
		if ($('#username').val() !== "julenissen") {
			$("#notifications").html("Feil brukernavn");
		}
		$.ajax({
			url: "http://juleverksted.azurewebsites.net/api/json/login",
			method: "GET",
			dataType: "xml",
			data: {
				id: $('#username').val(),
				password: $('#password').val()
			},
			status: {
				200: function (res) {
					console.log(res);
					var html = "Great success, Gå til neste oppgave <a href='" + res + "'>her</a>";
					document.getElementById("app").innerHTML = html;
				}
			}
		})
	});
</script>