@{
    ViewBag.Title = "velkommen";
}

<link rel="stylesheet" type="text/css" href="/Content/velkommen.css">

<h1>
    Frontend juleveksted
</h1>


<!--Nisseanimasjoner-->
<section>
    <ul class="creatures" id="creatures">
        <li>
            <div class="click-anim">
                <figure id="jorgenNisse">

                </figure>
            </div>
        </li>
        <li>
            <div class="click-anim">
                <figure id="mariusNisse">

                </figure>
            </div>
        </li>
        <li>
            <div class="click-anim">
                <figure id="simenNisse">

                </figure>
            </div>
        </li>
        <li>
            <div class="click-anim">
                <figure id="siljeNisse">

                </figure>
            </div>
        </li>
        <li>
            <div class="click-anim">
                <figure id="janNisse">

                </figure>
            </div>
        </li>
        <li>
            <div class="click-anim">
                <figure id="seanNisse">

                </figure>
            </div>
        </li>
    </ul>
</section>



<section>
    Her kommer logo
</section>

<section>
    <div class="row">
        <div class="col-md-8">
            Her kommer det mye oppgavetekst
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary">Start!</button>
        </div>
    </div>
</section>

@Html.ActionLink("Start", "Jada", "Home")