@{
    ViewBag.Title = "velkommen";
}

<link rel="stylesheet" type="text/css" href="/Content/velkommen.css">

<h1>
    <img src="../../Content/banner.png" class="banner"/>
</h1>


<!--Nisseanimasjoner-->
<section>
    <ul class="creatures" id="creatures">
        <li>
            <div class="click-anim">
                <figure id="jorgenNisse">

                </figure>
            </div>
        </li>
        <li>
            <div class="click-anim">
                <figure id="mariusNisse">

                </figure>
            </div>
        </li>
        <li>
            <div class="click-anim">
                <figure id="simenNisse">

                </figure>
            </div>
        </li>
        <li>
            <div class="click-anim">
                <figure id="siljeNisse">

                </figure>
            </div>
        </li>
        <li>
            <div class="click-anim">
                <figure id="janNisse">

                </figure>
            </div>
        </li>
        <li>
            <div class="click-anim">
                <figure id="seanNisse">

                </figure>
            </div>
        </li>
    </ul>
</section>


<section>
    <div class="row">
        <div class=".col-md-6 .col-md-offset-3">
            <p>
                Så bra at dere er her! Vi har en liten krise her nå, for en av frontend-nissene har gone rogue. Han har stjålet all julepilsen vi tenkte å dele med dere i kveld. Dere må hjelpe oss med å finne ham!
                Frontend-nissen liker godt å kode litt for seg selv, og hans JPSS (JulePilsStjeleSystem) er intet unntak. Heldigvis for oss har han lagt igjen en del spor som gjør det mulig for oss å finne hans skjulested - men dere må skynde dere! Når klokken slår syv, vil julepilsen begynne å bli fissen.
                <br/><br />
                Hvis dere greier å snike dere gjennom JPPS, så får dere noen koordinater dere må brute force dere til så fort som mulig. Det vanker goder til det første laget som når den uskikkelige nissen.
            </p>
            <h2>@Html.ActionLink("Start", "Jada", "Home")</h2>
        </div>       
    </div>
</section>

